@CHARSET "EUC-KR";

table {
	border-collapse: collapse;
	width: 95%;
}

th, td {
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-family: "Nanum Gothic";
}

th{
	background-color: #FFF8DC;
	border-top: 3px solid;
	border-top-style: inset;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: black;
}

p {
	font-size: 2.5em;
	font-family: "Nanum Gothic";
}

#mav_nav {
	font-family: "Nanum Gothic";
}

/* 	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; */