@CHARSET "EUC-KR";

body{
	box-sizing: inherit;
}

div{
	display: block;
}

html, body{
	font-size: 15px;
	line-height: 1.5;
}

ul, li{
	margin: 0;
	padding: 0;
} 

#leftmenuinneri {
	float:left;
	height: 100%;
	width: 20%;
	overflow-x: hidden;
	padding-top: 20px;	
	color: #000 !important;
	background-color: #f1f1f1 !important;
}

#center{
	float: right;
	
}

