@CHARSET "EUC-KR";

body{
	box-sizing: inherit;
}

div{
	display: block;
}

html, body{
	font-size: 15px;
	line-height: 1.5;
}

ul, li{
	margin: 0;
	padding: 0;
} 

#left_layer {
	float: left;
	padding: 10px;
	background-color: #999;
	border: 1px solid #000;
	width: 200px;
}

#content {
	float: right;
	padding: 10px;
	background-color: #CCC;
	border: 1px solid #000;
	width: 500px;
	margin-bottom: 10px;
}

